/* Home.css */

.home-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/HomeBackGround.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;

}

.upper-text, .lower-text {
  text-align: center;
  margin: 10px 0; 
}

.upper-text h1 {
  font-size: 66px;
  font-weight: bold;
  line-height: auto;
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
}

.lower-text h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  line-height: auto;
  color: #e6dfdf;
}

.trial-button {
  margin-top: 80px; /* Adjust button margin */
  background-color: #B1FD51; /* Button color */
  color: #000000;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 300px;
  height: 70px;
  font-size: 25px;
  font-weight: 500;
  transition: background-color 0.5s ease; 
}

.trial-button:hover {
  background-color: #97f129; /* Adjust hover color if needed */
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .upper-text h1 {
      font-size: 48px; /* Reduce font size for smaller screens */
  }

  .lower-text h3 {
      font-size: 24px; /* Reduce font size for smaller screens */
  }

  .trial-button {
      width: 250px; /* Adjust button width */
      height: 60px; /* Adjust button height */
      font-size: 20px; /* Reduce font size for button */
  }
}

@media (max-width: 480px) {

  .upper-text h1 {
      font-size: 36px; /* Further reduce font size for very small screens */
  }

  .lower-text h3 {
      font-size: 20px; /* Further reduce font size for very small screens */
  }

  .trial-button {
      width: 200px; /* Adjust button width */
      height: 50px; /* Adjust button height */
      font-size: 18px; /* Further reduce font size for button */
  }
}
